body {
  background-color: #f5ebe7;
  margin: 50px 120px;
}

p {
  font-size: large;
}

a {
  text-decoration: none;
}

header {
  padding: 1rem;
  background-color: #f3e2d6;
}

:where(h1, h2) {
  color: brown;
}

/* list */

ul {
  padding-left: 0px;
}

li {
  padding: 1.5%;
  list-style: none;
  display: block;
  background-color: #c1927c;
  font-weight: bold;
  margin-top: 10px;
}

/* Nav */
nav {
  padding: 20px 0px;
  background-color: #d6c0b3;
  display: flexbox;
  padding: 1.5%;
}

nav li {
  width: 80px;
}

nav a {
  color: #150c05;
}

/* section */

section li {
  width: 450px;
}

section {
  background-color: #d8d2c2;
  padding: 1.5%;
}

.sub-p {
  text-indent: 20px;
}

.second-sub-p {
  text-indent: 40px;
}

/* footer */

footer {
  background-color: #b5b19b;
  padding: 1.5%;
  color: #a52a2a;
  font-weight: 300;
  font-size: larger;
}

#github {
  color: #001c4d;
}
