body {
  background-color: #eceff4;
  margin: 50px 120px;
}

p {
  font-size: large;
}

header {
  padding: 1rem;
  background-color: #8fbcbb;
}

:where(h1, h2) {
  color: #2e3440;
}

/* list */

ul {
  padding-left: 0px;
}

li {
  padding: 1.5%;
  list-style: none;
  display: block;
  background-color: #d8dee9;
  font-weight: bold;
  margin-top: 10px;
}

/* Nav */
nav {
  padding: 20px 0px;
  background-color: #88c0d0;
  display: flexbox;
  padding: 1.5%;
}

nav li {
  width: 120px;
}

nav a {
  color: #150c05;
}

/* section */

section li {
  width: 450px;
}

.p-get {
  color: blue;
}

.p-post {
  color: green;
}

.p-patch {
  color: orange;
}

.p-delete {
  color: red;
}

section {
  background-color: #81a1c1;
  padding: 1.5%;
}
/* footer */

footer {
  background-color: #5e81ac;
  padding: 1.5%;
  font-weight: 300;
  font-size: larger;
}

#github {
  color: #001c4d;
}
